* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;

}

.nav-container {
  width: 90%;
  max-width: 1280px;
  height: 90px;

  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 52px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;

  flex: 1;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  transition: .3s;
}

.nav-links a:hover {
  color: #ff8a00;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.nav-item span {
  font-size: 10px;
  color: #777;
  transition: .3s;
}

.nav-item:hover span {
  transform: rotate(180deg);
}

.consult-btn {
  border: none;
  background: linear-gradient(90deg,#ff9811,#ff8300);
  color: white;
  padding: 15px 28px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}

.consult-btn:hover {
  opacity: .9;
}
.nav-links{
    display:flex;
    align-items:center;
    gap:28px;
}

.dropdown{
    position:relative;
}

.nav-item{
    display:flex;
    align-items:center;
    gap:5px;
    cursor:pointer;
}

.nav-item span{
    font-size:10px;
}

.dropdown-menu{
    position:absolute;
    top:120%;
    left:0;
    width:220px;
    background:#fff;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    border-radius:6px;

    opacity:0;
    visibility:hidden;
    transform:translateY(15px);

    transition:.3s;
    z-index:100;
}

.dropdown-menu a{
    display:block;
    padding:12px 18px;
    color:#222;
    text-decoration:none;
    border-bottom:1px solid #eee;
}

.dropdown-menu a:last-child{
    border-bottom:none;
}

.dropdown-menu a:hover{
    background:#ff8a00;
    color:#fff;
}

.dropdown:hover .dropdown-menu{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}

.nav-item:hover a{
    color:#ff8a00;
}
/* Active page */
.nav-links a.active {
  color: #ff8a00;
}
.dropdown-icon {
  font-size: 12px;
  color: #1a1919;
  transition: transform 0.3s ease;
}

.dropdown:hover .dropdown-icon {
  transform: rotate(180deg);
}